:root {
    --branco: #fff;
    --cinza-claro: #D0D5DD;
    --cinza-medio: #667085;
    --cinza-escuro: #3A404E;
    --vermelho: #8E2424;
    --vermelho-claro: #C31919;
    --preto: #101828;
    --fonte-principal: 'Inter', sans-serif;
}

body {
    font-family: var(--fonte-principal);
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--branco);
    color: var(--cinza-escur0);
    font-size: 18px;
    font-family: var(--fonte-principal);
    padding: 1.5rem 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--cinza-medio);
}

.opções {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.opções__link {
    text-decoration: none;
    color: var(--cinza-medio);
    font-size: 16px;
    padding: 0 16px;
}

.container__titulo {
    font-size: 18px;
    color: var(--cinza-escuro);
    margin-left: 8px;
}

.opções__cadastro {
    background-color: var(--vermelho);
    color: var(--branco);
    padding: 12px 16px;
    border-radius: 8px;
    margin-left: 12px;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 96px 0;
    font-family: var(--fonte-principal);
    text-align: center;
}

.sobre {
    color: var(--vermelho);
    font-size: 16px;
    font-weight: 600;
    padding: 12px 0;
}

.h2 {
    color: var(--preto);
    font-size: 48px;
    font-weight: 600;
    padding: 20px 0;
}

.apresentacao {
    color: var(--cinza-medio);
    font-size: 20px;
    font-weight: 400;
    padding: 12px 0;
    width: 50%;
    line-height: 30px;
}

.metricas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    font-family: var(--fonte-principal);
    padding: 0 90px;
}

h3 {
    color: var(--vermelho);
    font-size: 60px;
    font-weight: 600;
}

.metricas__desc {
    color: var(--preto);
    font-size: 18px;
}

.metricas__texto {
    color: var(--cinza-medio);
    font-size: 16px;
}

.metricas__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.talentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 96px 80px 64px 80px;
}

.vagas {
    font-size: 14px;
    color: var(--vermelho);
    background-color: rgba(195, 25, 25, 0.1);
    padding: 8px;
    border-radius: 16px;
}

.talentos__titulo {
    color: var(--preto);
    font-size: 36px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 16px;
}

.talentos__desc {
    color: var(--cinza-medio);
    font-size: 20px;
}

.talentos__imagem {
    margin-top: 64px;
}